extends layout

block content
	div.row-fluid(style="height:100px")
	div.row-fluid
		div.span4.offset4
			p Mutant Platato is a low-budget wikipedia mapper, made by Eric Jang for the 2012 Brown University Hackjam.
			p Employs a rather dick-ish hack to accomplish load-balancing of querying articles across over 4 million wikipedia articles ... 
			p(style="color : darkblue") ... without using a single byte of persistent storage.
			p Powered by Node.JS, d3.js, and jQuery.

